<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>
<% if item_is(@comment)%>
<%= link_to 'Back', topic_path(@comment.commented_on_id) %>
<%else%>
<%= link_to 'Back', campaign_tab_path(@comment.commented_on_id) %>
<%end%>